@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(237, 100, 13);

  --text-color-light: rgb(0, 0, 0);
  --background-color-light: rgb(255, 255, 255);
  --background-color-menu-light: rgba(252, 252, 252, 0.7);
  --text-grey-color-light: rgb(86, 86, 86);
  --form-background-color-light: rgba(230, 230, 230, 0.5);
  --footer-background-color-light: rgb(246, 246, 248);
  --divider-color-light: rgb(235 234 234);
  --card-color-light: rgba(165, 165, 165, 0.1);

  --text-color-dark: rgb(255, 255, 255);
  --background-color-dark: rgb(0, 0, 0);
  --background-color-menu-dark: rgba(0, 0, 0, 0.8);
  --text-grey-color-dark: rgb(156 163 175);
  --form-background-color-dark: rgba(40, 40, 40, 0.5);
  --footer-background-color-dark: rgb(13, 13, 13);
  --divider-color-dark: rgb(30, 30, 30);
  --card-color-dark: rgba(255, 255, 255, 0.1);

  /*Background Gradient Colors */
  --foreground-rgb-light: rgb(0, 0, 0);
  --background-start-rgb-light: rgb(255, 255, 255);
  --background-end-rgb-light: rgb(255, 255, 255);

  --foreground-rgb-dark: rgb(255, 255, 255);
  --background-start-rgb-dark: rgb(0, 0, 0);
  --background-end-rgb-dark: rgb(0, 0, 0);
}

html.dark {
  --background-color: var(--background-color-dark);
  --background-color-menu: var(--background-color-menu-dark);
  --text-color: var(--text-color-dark);
  --text-grey-color: var(--text-grey-color-dark);
  --footer-background-color: var(--footer-background-color-dark);
  --divider-color: var(--divider-color-dark);
  --form-background-color: var(--form-background-color-dark);
  --card-color: var(--card-color-dark);
  --foreground-rgb: var(--foreground-rgb-dark);
  --background-start-rgb: var(--background-start-rgb-dark);
  --background-end-rgb: var(--background-end-rgb-dark);
}

html.light {
  --background-color: var(--background-color-light);
  --background-color-menu: var(--background-color-menu-light);
  --text-color: var(--text-color-light);
  --text-grey-color: var(--text-grey-color-light);
  --footer-background-color: var(--footer-background-color-light);
  --divider-color: var(--divider-color-light);
  --form-background-color: var(--form-background-color-light);
  --card-color: var(--card-color-light);
  --foreground-rgb: var(--foreground-rgb-light);
  --background-start-rgb: var(--background-start-rgb-light);
  --background-end-rgb: var(--background-end-rgb-light);
}

body {
  color: var(--text-color);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 120px 24px;
  pointer-events: none;
}

.app {
  @apply relative z-10 flex flex-col justify-center items-center mx-auto px-6 sm:px-24;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.head_text {
  @apply mt-8 text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold leading-[1.15];
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg sm:text-xl max-w-2xl;
}

.text-grey-color {
  color: var(--text-grey-color);
}

.rounded-navbar-button {
  @apply rounded-full py-2 px-5 text-white transition-all  
  text-center text-sm font-semibold;
  background-color: var(--primary-color);
}

.rounded-icon {
  @apply rounded-full text-white transition-all  
  text-center text-2xl font-semibold flex items-center justify-center;
  background-color: var(--primary-color);
}

.button {
  @apply transition-all text-center text-sm font-semibold flex items-center justify-center;
}

.rounded-button {
  @apply button;
  @apply py-2 px-5 rounded-full text-white;
}

.primary-button {
  @apply rounded-button;
  background-color: var(--primary-color);
}

.form-button {
  @apply transition-all text-center font-semibold flex items-center justify-center 
  py-2 px-5 rounded-full text-white;
  background-color: var(--primary-color);
}

.button:hover,
.form-button:hover,
.primary-button:hover,
.rounded-button:hover,
.rounded-icon:hover,
.rounded-navbar-button:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}

.form-button:hover .loader {
  color: black;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* Profile Menu */
.profile_menu-items {
  @apply flex-col absolute right-1/2 translate-x-1/2 mt-3 
  p-7 sm:min-w-[300px] min-w-max rounded-xl border;
  border-color: var(--divider-color);
  background-color: var(--background-color-menu);
  backdrop-filter: blur(8px); /* Blurs background element */
}

.border-nav-border {
  border-color: var(--divider-color);
}

/* Form Field */
.form_field-input {
  @apply w-full border outline-0 rounded-xl p-4;
  background-color: var(--form-background-color);
  border-color: var(--divider-color);
}

.form_field-input:focus {
  border-color: var(--text-grey-color);
}

.font-pacifico {
  font-family: Pacifico;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border bg-clip-padding p-6 pb-4 
  backdrop-blur-lg backdrop-filter md:w-[380px] w-full h-fit;
  background-color: var(--card-color);
  border-color: var(--divider-color);
}

/* Footer */
.footer {
  @apply flex-col lg:px-20 p-6 w-full gap-20 mt-10;
  background-color: var(--footer-background-color);
}

.footer_copyright {
  @apply max-sm:flex-col w-full text-sm font-normal;
}

/* Toggle Slider */
input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  left: -9000px;
  top: -9000px;
}

input[type="checkbox"].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 2em;
  height: 1em;
  background-color: hsl(36, 100%, 77%);
  border-radius: 1em;
  transition: background-color 200ms ease-in-out;
}

input[type="checkbox"].toggle + label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  font-size: 0.5em;
  height: 0.9em;
  left: 0.2em;
  width: 1.8em;
  height: 1.8em;
  background-color: black;
  color: white;
  border-radius: 1em;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::before {
  background-color: hsl(36, 100%, 77%);
}

input[type="checkbox"].toggle:checked + label::after {
  content: "";
  transform: translateX(100%);
  background-color: var(--primary-color);
}

.text-grey-color {
  color: var(--text-grey-color);
}

.primary-color {
  color: var(--primary-color);
}

.button-hover:hover {
  color: var(--text-color);
}

.profile-images {
  width: 200;
  height: 200;
}

.profile-name-icon {
  @apply w-fit rounded-full text-white px-7 py-5 text-center text-7xl font-bold cursor-pointer;
  background-color: var(--primary-color);
}

.profile-name-icon:hover {
  opacity: 0.5;
}

.form_image-input {
  @apply absolute z-30 w-full opacity-0 h-full cursor-pointer;
}

/* Modal */

.modal-head-text {
  @apply rounded-2xl;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

/* Spinner */

.dot-spin {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 var(--primary-color),
    12.727926px -12.727926px 0 0 var(--primary-color),
    18px 0 0 0 var(--primary-color),
    12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0),
    0 18px 0 0 rgba(152, 128, 255, 0),
    -12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0),
    -18px 0 0 0 rgba(152, 128, 255, 0),
    -12.727926px -12.727926px 0 0 rgba(152, 128, 255, 0);
  animation: dot-spin 1.5s infinite linear;
}

@keyframes dot-spin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 var(--primary-color),
      12.727926px -12.727926px 0 0 var(--primary-color),
      18px 0 0 0 var(--primary-color),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 0 var(--primary-color),
      18px 0 0 0 var(--primary-color),
      12.727926px 12.727926px 0 0 var(--primary-color),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 0 var(--primary-color),
      12.727926px 12.727926px 0 0 var(--primary-color),
      0 18px 0 0 var(--primary-color),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 0 var(--primary-color),
      0 18px 0 0 var(--primary-color),
      -12.727926px 12.727926px 0 0 var(--primary-color),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 0 var(--primary-color),
      -12.727926px 12.727926px 0 0 var(--primary-color),
      -18px 0 0 0 var(--primary-color),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 0 var(--primary-color),
      -18px 0 0 0 var(--primary-color),
      -12.727926px -12.727926px 0 0 var(--primary-color);
  }
  75% {
    box-shadow: 0 -18px 0 0 var(--primary-color),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 0 var(--primary-color),
      -12.727926px -12.727926px 0 0 var(--primary-color);
  }
  87.5% {
    box-shadow: 0 -18px 0 0 var(--primary-color),
      12.727926px -12.727926px 0 0 var(--primary-color),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 0 var(--primary-color);
  }
}

/* Spinner 2 */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #fff;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
